.reinitialiserLeMotDePasse {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.reinitialiserLeMotDePasse > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reinitialiserLeMotDePasse {
    border-radius: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .reinitialiserLeMotDePasse > * {
    grid-column: 4;
  }
}
.passwordReset {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1063px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .passwordReset {
    width: 100%;
    justify-self: flex-start;
    min-width: 0;
  }
}
.imageWrapper {
  background: linear-gradient(
      rgba(0, 0, 0, 0.4000000059604645),
      rgba(0, 0, 0, 0.4000000059604645)
    ),
    url("/plasmic/jam_v_jean_loader/images/imageWrapper.jpg") center center / cover no-repeat;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  padding: 433px 229px;
}
.imageWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.imageWrapper > :global(.__wab_flex-container) > *,
.imageWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.imageWrapper > :global(.__wab_flex-container) > picture > img,
.imageWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imageWrapper {
    display: none;
  }
}
.logoWrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.logoWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.logoWrapper > :global(.__wab_flex-container) > *,
.logoWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoWrapper > :global(.__wab_flex-container) > picture > img,
.logoWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  width: 95px;
  height: 115px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.baseline {
  width: 298px;
  height: 48px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frame {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding-left: 5.580071449279785px;
  padding-right: 5.580071449279785px;
}
.frame > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 3.487544298171997px);
  width: calc(100% + 3.487544298171997px);
}
.frame > :global(.__wab_flex-container) > *,
.frame > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame > :global(.__wab_flex-container) > picture > img,
.frame > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 3.487544298171997px;
}
.text___2JHdn {
  display: block;
  font-size: 33.480430603027344px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding-left: 5.580071449279785px;
  padding-right: 5.580071449279785px;
  border-radius: 69.75088500976562px;
}
.frame2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 3.487544298171997px);
  width: calc(100% + 3.487544298171997px);
}
.frame2 > :global(.__wab_flex-container) > *,
.frame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2 > :global(.__wab_flex-container) > picture > img,
.frame2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3.487544298171997px;
}
.text__xtiYh {
  display: block;
  font-size: 33.480430603027344px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding-left: 5.580071449279785px;
  padding-right: 5.580071449279785px;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 3.487544298171997px);
  width: calc(100% + 3.487544298171997px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3.487544298171997px;
}
.text__xPtBs {
  display: block;
  font-size: 33.480430603027344px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.formWrapper {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 24px;
  padding: 64px;
}
.formWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formWrapper > :global(.__wab_flex-container) > *,
.formWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.formWrapper > :global(.__wab_flex-container) > picture > img,
.formWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .formWrapper {
    width: 100%;
    overflow: hidden;
    min-width: 0;
    padding: 27px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .formWrapper > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
  }
}
.title {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading {
  display: block;
  flex-grow: 1;
  font-size: 48px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.2000000476837158;
  color: rgba(5, 5, 5, 1);
  position: relative;
}
.form {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.form > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.form > :global(.__wab_flex-container) > *,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.form > :global(.__wab_flex-container) > picture > img,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.inputWrapper {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.inputWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.inputWrapper > :global(.__wab_flex-container) > *,
.inputWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputWrapper > :global(.__wab_flex-container) > picture > img,
.inputWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.wrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.wrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.wrapper > :global(.__wab_flex-container) > *,
.wrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper > :global(.__wab_flex-container) > picture > img,
.wrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textInput5:global(.__wab_instance) {
  height: 100%;
  position: relative;
  align-self: stretch;
  min-height: 0;
  border-radius: 16px;
  border-width: 1px;
}
.wrapper2 {
  width: 592px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.wrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.wrapper2 > :global(.__wab_flex-container) > *,
.wrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper2 > :global(.__wab_flex-container) > picture > img,
.wrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper2 {
    height: 100%;
    width: auto;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper2 > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
.progressBar {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
}
.progressBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.progressBar > :global(.__wab_flex-container) > *,
.progressBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.progressBar > :global(.__wab_flex-container) > picture > img,
.progressBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .progressBar {
    width: auto;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .progressBar > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .progressBar > :global(.__wab_flex-container) > *,
  .progressBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .progressBar > :global(.__wab_flex-container) > picture > img,
  .progressBar
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.base {
  background: rgba(186, 254, 104, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .base {
    position: relative;
    left: auto;
    top: auto;
  }
}
.base2 {
  background: rgba(200, 200, 200, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .base2 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.base3 {
  background: rgba(200, 200, 200, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .base3 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.base4 {
  background: rgba(200, 200, 200, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .base4 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.signedByBaseProgressBarSteppedMediumLabelNone {
  width: 1px;
  height: 1px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .signedByBaseProgressBarSteppedMediumLabelNone {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.progress {
  background: rgba(39, 110, 241, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .progress {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.inProgress {
  background: rgba(205, 222, 255, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .inProgress {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.base5 {
  background: rgba(226, 226, 226, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .base5 {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.base6 {
  background: rgba(226, 226, 226, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .base6 {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.textInput6:global(.__wab_instance) {
  height: 100%;
  position: relative;
  align-self: stretch;
  min-height: 0;
  border-radius: 16px;
  border-width: 1px;
}
.text {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: stretch;
  position: relative;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  font-weight: 700;
  background: #bbfe68;
  color: #444242;
  min-width: 0;
  border-radius: 16px;
}
.buttonWrapper {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.buttonWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.buttonWrapper > :global(.__wab_flex-container) > *,
.buttonWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonWrapper > :global(.__wab_flex-container) > picture > img,
.buttonWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.linkWrapper {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 8px;
}
.linkWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.linkWrapper > :global(.__wab_flex-container) > *,
.linkWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkWrapper > :global(.__wab_flex-container) > picture > img,
.linkWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.textLink {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 16px;
}
.textLinkBase {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 16px;
}
.textLinkBase > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.textLinkBase > :global(.__wab_flex-container) > *,
.textLinkBase > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textLinkBase > :global(.__wab_flex-container) > picture > img,
.textLinkBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text2 {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 36, 0, 1);
  position: relative;
}
